# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code and IDE configs
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker files
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Redis config
redis.conf